<div id="main-container" class="container container-fluid">
  <div class="jumbotron header-wrap">
    <p class="lead"><strong>Welcome to Minigames!!! {{user.firstName}}!</strong></p>
    <hr class="my-4">
    <div>

      {{#if isloggedin}}
      <script src="/assets/js/Jokesapi.js"></script>
      <h5 class="h5">Click on a game below to start!!</h5>
    </div>

    <div class="jumbotron header-wrap">
      <div class = "game">
        <a class="game-link" href="triviaGame">Trivia</a>
          <div>
            <img class="olympic-symbol" src="/assets/images/Olympics Symbol.jpg" alt="Olympics rings">
          </div>
      </div>

      <div class = "game">
        <a class="game-link" href="/hangman">Hangman</a>
          <div>
            <img class="torch" src="/assets/images/olympics_torch_img.jpeg" alt="Olympics torch">
          </div>
      </div>
     
      <div class = "game">
        <a class="game-link" href="/wordtype">Word Type</a>
          <div>
            <img class="medal" src="/assets/images/typegame.png" alt="Gold medal">
          </div>
      </div>

      <div class = "game">
        <a class="game-link" href="/falling">Falling</a>
          <div>
            <img class="medal" src="/assets/images/Olympic_Track.jpeg" alt="Gold medal">
          </div>
      </div>
    </div>

    

    {{else}}
    <p>You need to log in to use this app.</p>
    {{/if}}

    <h5 id="login-err-msg"></h5>
  </div>
</div>

{{> modal/login-block}}