{{> nav/nav-block}}



    
 <link rel="stylesheet" href="/assets/css/fall.css">
      {{#if isloggedin}}
    
	<div class="wrapper">
	 <button id = "fallbtn">Play game!</button>
  	<p>Time left:</p>
    <div class="timer">
				
				<span class="time">60</span>
			</div>
<div id="left"></div>
<div id="right"></div>
<div id="count-down"></div>
<div id="box">
  <p>Your score!</p>
  <span id="scores">20</span>
  <div id="close"><i class="fas fa-times"></i></div>
  <button id = "restart">RESTART</button>
</div>

 </div>

  <script src="/assets/js/fall.js"></script>

    {{else}}
    <p>You need to log in to use this app.</p>
    {{/if}}
    <h5 id="login-err-msg"></h5>
  </div>

</div>

{{> modal/login-block}}
