

<div id="main-container" class="container container-fluid">
  <div class="jumbotron header-wrap">
    <p class="lead"><strong>Olympic Hangman </strong></p>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
      
    
    
    <div class="float-right">

    </div>
    
        <h2 id="hangmanPlay"></h2>
        <h2>Guess a letter for the word above: </h2> <input type="text" id="guessInput" maxlength="1"> <button id="guessBtn">Try!</button>
        <div id='wrong'>
            <p>
                
            </p>
        </div>
    </div>

    <script src="/assets/js/hangman.js"></script>
    {{else}}
    <p>You need to log in to use this app.</p>
    {{/if}}
    <h5 id="login-err-msg"></h5>
  </div>

</div>

{{> modal/login-block}}