

<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap">
    <p class="lead"><strong>MiniGame Leaderboards </strong></p>
    <table>
      <tr>
        <td id="rank">Rank</td>
        <td id="user">User</td>
        <td id="score">Score</td>
      </tr>
    </table>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
     

    </div>
    <div class="jumbotron text-center header-wrap" align="center">
      
    
   
    {{else}}
    <p>You need to log in to use this app.</p>
    {{/if}}
    <h5 id="login-err-msg"></h5>
  </div>

</div>

{{> modal/login-block}}