

<div id="main-container" class="container">

  <div class="jumbotron header-wrap">
    <p class="lead" id= "finalScore"><strong>MiniGame Leaderboards</strong></p>
        <div id="highScores" class="flex-center flex-column"> 
            <ul id="highScoresList"></ul>
            <div class="row">
              <div class="column">Game 1</div>
              <div class="column">Game 2</div>
              <div class="column">Game 3</div>
            </div>
        </div>
    </div>

    <hr class="my-4">
    <div>
      {{#if isloggedin}}
     

    </div>
    <div class="jumbotron header-wrap">
      
        <h2>{{msg}}</h2>
        <h4>Hamngman Highscores</h4>
        <ul id="hangman-list" class="list-group">
          {{#each leaderboard-hangman}}
          <li data-id="{{this.id}}" class="list-group-item">
            {{this.score}}
          </li>
          {{/each}}
        </ul>
      </div>

<script src="/assets/js/leaderboard.js"></script>
   
    {{else}}
    <p>You need to log in to use this app.</p>
    {{/if}}
    <h5 id="login-err-msg"></h5>
  </div>

</div>

{{> modal/login-block}}