
      {{#if isloggedin}}
<div id="main-container" class="container container-fluid">
  <div class="jumbotron header-wrap">
    <p class="lead"><strong>Trivia</strong></p><hr class="my-4">
    
      <link rel="stylesheet" href="/assets/css/trivia.css">

      <div id="game" class="justify-center flex-column hidden">
        <div id="hud">
          <div id="hud-item">
            <p id="progressText" class="hud-prefix">
              Question
            </p>
              <div id="progressBar">
              <div id="progressBarFull"></div>
            </div>
          </div>
          <div id="hud-item">
             <h3 id="time-left"></h3>
            <p class="hud-prefix">
              Score
            </p>
            <h1 class="hud-main-text" id="score">
              0
            </h1>
          </div>
        </div>
        <h2 id="question"></h2>
        <div class="choice-container">
          <p class="choice-prefix">A</p>
          <p class="choice-text" data-number="1"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">B</p>
          <p class="choice-text" data-number="2"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">C</p>
          <p class="choice-text" data-number="3"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">D</p>
          <p class="choice-text" data-number="4"></p>
        </div>
      </div>

      <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Game Over!</h2>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="restartbtn" data-dismiss="modal">Play Again</button>
        </div>
      </div>
    
    <script src="/assets/js/triviaApi.js"></script>

    {{else}}
    <p>You need to log in to use this app.</p>
    {{/if}}
    <h5 id="login-err-msg"></h5>
  

    

{{> modal/login-block}}