{{> nav/nav-block}}

<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead"><strong>Olympic Minigame 3  </strong></p>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
      <h5>
      Click start below to begin!!
      </h5>
      <div>
        <button>Start</button>
      </div>  
      <br>
      <br>

    </div>
    
    <div class="jumbotron text-center header-wrap" align="center">
      
    
   
    {{else}}
    <p>You need to log in to use this app.</p>
    {{/if}}
    <h5 id="login-err-msg"></h5>
  </div>

</div>

{{> modal/login-block}}