
.wrapper {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 2%;
	height: 500px;
}

h1 {
    color: #ecf0f1;
}

h1 + p {
	margin-bottom: 5%;
    color: #3498db;
}

.scoreWrap {float: left;}
.timeWrap {float: right;}

.outerWrap:after {
	content: "";
	display: block;
	clear: both;
}

.bg {
	background-color: #04AF71;
}

button {
    flex-wrap: wrap;
    align-content: center;
    vertical-align: middle;
    word-spacing: normal;
    color: rgb(255, 255, 255);
    margin: -15px;
    font-size: 27px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(222, 223, 224), rgb(21, 97, 173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease-in-out;
}

button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.scoreWrap p, .scoreWrap span, .timeWrap p, .timeWrap span {
    font-size: 30px;
    color: rgb(21, 97, 173);
    
}

.wordsWrap {
	margin-top: 50px;
}

.words span{
    font-size: 60px;
    letter-spacing: 1px;
    color: rgb(21, 97, 173);
}

