<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Typing game</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./public/assets/css/style.css" type='text/css'>
	<link rel="stylesheet" href="./public/assets/css/wordtype.css">
</head>
<body>
	<div class="wrapper">
		<h1></h1>
		<p>Type as many words as you can until time runs out!</p>
		<button id="startbtn">START</button>
		<div class="outerWrap">
			<div class="scoreWrap">
				<p>Score</p>
				<span class="score">0</span>
			</div>
			<div class="timeWrap">
				<p>Time left</p>
				<span class="time">60</span>
			</div>
		</div>
		<div class="wordsWrap">
			<p class="words"></p>
		</div>
	</div>
</body>
<script src="./public/assets/js/wordtype.js"></script>
</html>