<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">Olympic Games!</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Links -->
  <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">

    {{#if isloggedin}}
      
      <li class="nav-item">
        <a class="nav-link" href="/Dashboard">Game Dashboard</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/Leaderboard">Leaderboards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example">Request New Features!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
     
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="#" id="login-modal">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
      </li>
    {{/if}}
  </ul>
  </div>
  </div>
</nav>

{{> modal/login-block}}
